<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    {% include "includes.html" %}

</head>

<body>
    <div class="main-nav">
        Smart Library - Admin
    </div>
    <div class="heading">
        <h3>Edit Book Details</h3>
    </div>
    <div class="add">
        <a href="/book-management"><button class="btn btn-primary">Back</button></a>
    </div>

    <form action="/edit-book/{{book.book_id}}" method="post" enctype="multipart/form-data" class="form">
        <div class="row">
            <div class="col">
                <label for="b_name" class="form-label">Name:</label>
                <input type="text" name="b_name" id="" value="{{book.name}}" class="form-control">
            </div>
            <div class="col">
                <label for="author" class="form-label">Author:</label>
                <input type="text" name="author" id="" value="{{book.author}}" class="form-control"><br>
            </div>
            <div class="col">
                <label for="issue_period" class="form-label">Issue Time Period:</label>
                <input type="number" name="issue_period" id="" value="{{book.issue_time}}" class="form-control"><br>
            </div>
            <div class="col">
                <label for="genre" class="form-label">Genre:</label>
                <input type="text" name="genre" id="" value="{{book.genre}}" class="form-control"><br>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="content" class="form-label">Content:</label>
                <textarea type="text" name="content" id="" class="form-control">{{book.content}}</textarea>
            </div>
        </div>
        <div class="submit-section">
            <button type="submit" class="btn btn-success">Edit</button>
        </div>

    </form>

</body>

</html>