<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    {% include "includes.html" %}

</head>

<body>
    <div class="main-nav">
        Smart Library - Admin
    </div>
    <div class="heading">
        <h3>Edit Section Details</h3>
    </div>
    <div class="add">
        <a href="/section-management"><button class="btn btn-primary">Back</button></a>
    </div>

    <form action="/edit-section/{{section.section_id}}" method="post" enctype="multipart/form-data" class="form">

        <label for="s_name" class="form-label">Name:</label>
        <input type="text" name="s_name" id="" value="{{section.name}}" class="form-control"> <br>

        <label for="desc" class="form-label">Description:</label>
        <textarea type="text" name="desc" id="" class="form-control">{{section.description}}</textarea>
        <div class="submit-section">
            <button type="submit" class="btn btn-success">Edit</button>
        </div>

    </form>

</body>

</html>