<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Section Management</title>
    {% include "includes.html" %}

</head>

<body>
{% include "admin/admin_nav.html" %}

    Section Management here


    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Created Date</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for section in sections %}
            <tr>
                <td>{{ section.name }}</td>
                <td> {{ section.created_date }} </td>
                <td> <a href="/edit-section/{{section.section_id}}"><button>Edit</button> </a></td>
                <td> <a href="/delete-section/{{section.section_id}}"><button>Delete</button> </a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addSectionModal">
        Add Section
    </button>


    <!-- Modal -->
    <div class="modal fade" id="addSectionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add Section</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/add-section" method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                        <label for="s_name">Name:</label>
                        <input type="text" name="s_name" id=""><br>

                        <label for="created_date">Created Date:</label>
                        <input type="date" name="created_date" id="created_date" value="{{today_date}}" disabled><br>

                        <label for="s_desc">Decription:</label>
                        <textarea type="text" name="s_desc" id="" rows="10"></textarea>

                        <label for="image">Image:</label>
                        <input type="file" name="image" id="image"><br>

                        <!-- <button type="submit">Submit</button> -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Add Section</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>

</html>