<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Section Management</title>
    {% include "includes.html" %}

</head>

<body>
    {% include "admin/admin_nav.html" %}
    <div class="heading">
        <h3>Section Management</h3>
    </div>
    <div class="add">
        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#addSectionModal">
            Add Section
        </button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Created Date</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for section in sections %}
            <tr>
                <td scope="row">{{ section.name }}</td>
                <td> {{ section.created_date }} </td>
                <td> <a href="/edit-section/{{section.section_id}}"><button class="btn btn-primary">Edit</button> </a>
                </td>
                <td> <a href="/delete-section/{{section.section_id}}"><button class="btn btn-danger">Delete</button>
                    </a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>





    <!-- Modal -->
    <div class="modal fade" id="addSectionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add Section</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/add-section" method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-6">
                                <label for="s_name" class="form-label">Name:</label>
                                <input type="text" name="s_name" id="" class="form-control" placeholder="Enter Name"><br>
                            </div>
                            <div class="col-6">
                                <label for="created_date" class="form-label">Created Date:</label>
                                <input type="date" name="created_date" id="created_date" value="{{today_date}}"
                                    disabled class="form-control"><br>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <label for="s_desc" class="form-label">Decription:</label>
                                <textarea type="text" name="s_desc" id="" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label for="image" class="form-label">Image:</label>
                                <input type="file" name="image" id="image" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-success">Add Section</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>

</html>