<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Books</title>
</head>

<body>
    {% include "user/user_nav.html" %}
    <div class="heading">
        <h1>All Books</h1>
    </div>
    <div class="all-books">
        {% for book in books %}
        <div class="book-card">
            <div class="book-image">
                <img src="../../static/uploads/{{ book.image }}" alt="{{ book.image }}">
            </div>
            <div class="book-details">
                <h4 class="book-name">{{ book.name }}</h4>
                <div class="book-author">{{ book.author }}</div>
                <div class="book-genre">Genre: {{book.genre}}</div>
                <div class="book-time">Issued For: <b>{{book.issue_time}} Days</b></div>
                <div class="book-button">
                    <a href="/view-book/{{book.book_id}}"> <button class="btn btn-primary">View Book</button></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</body>

</html>