<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books in {{ sect.name }}</title>
    <style>
        img {
            max-width: 100px;
            max-height: 100px;
        }
    </style>
</head>

<body>
    {% include "user/user_nav.html" %}
    <h1>{{ sect.name }}</h1>
    <p>{{ sect.description }}</p>


    <div class="all-books">
        {% for book in books %}
        <div class="book-card">
            <div class="book-image">
                <img src="../../static/uploads/{{ book.image }}" alt="{{ book.image }}">
            </div>
            <div class="book-details">
                <h4>{{ book.name }}</h4>
                <p>{{ book.author }}</p>
                <a href="/view-book/{{book.book_id}}"> <button>View Book</button></a>
            </div>
        </div>
        {% endfor %}
    </div>
</body>

</html>