<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
</head>

<body>
    {% include "user/user_nav.html" %}


    {% if book_name|length >0 %}
    <div class="heading">
        <h2>Book Results By Name</h2>
    </div>
    <div class="all-books">

        {% for book in book_name %}
        <div class="book-card">
            <div class="book-image">
                <img src="../../static/uploads/{{ book.image }}" alt="{{ book.image }}">
            </div>
            <div class="book-details">
                <h4 class="book-name">{{ book.name }}</h4>
                <div class="book-author">{{ book.author }}</div>
                <div class="book-genre">Genre: {{book.genre}}</div>
                <div class="book-time">Issued For: <b>{{book.issue_time}} Days</b></div>
                <div class="book-button">
                    <a href="/view-book/{{book.book_id}}"> <button class="btn btn-primary">View Book</button></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if book_author|length >0 %}
    <div class="heading">
        <h2>Book Results By Author</h2>
    </div>
    <div class="all-books">
        {% for book in book_author %}
        <div class="book-card">
            <div class="book-image">
                <img src="../../static/uploads/{{ book.image }}" alt="{{ book.image }}">
            </div>
            <div class="book-details">
                <h4 class="book-name">{{ book.name }}</h4>
                <div class="book-author">{{ book.author }}</div>
                <div class="book-genre">Genre: {{book.genre}}</div>
                <div class="book-time">Issued For: <b>{{book.issue_time}} Days</b></div>
                <div class="book-button">
                    <a href="/view-book/{{book.book_id}}"> <button class="btn btn-primary">View Book</button></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% if book_genre|length >0 %}
    <div class="heading">
        <h2>Book Results By Genre</h2>
    </div>
    <div class="all-books">
        {% for book in book_genre %}
        <div class="book-card">
            <div class="book-image">
                <img src="../../static/uploads/{{ book.image }}" alt="{{ book.image }}">
            </div>
            <div class="book-details">
                <h4 class="book-name">{{ book.name }}</h4>
                <div class="book-author">{{ book.author }}</div>
                <div class="book-genre">Genre: {{book.genre}}</div>
                <div class="book-time">Issued For: <b>{{book.issue_time}} Days</b></div>
                <div class="book-button">
                    <a href="/view-book/{{book.book_id}}"> <button class="btn btn-primary">View Book</button></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% if section_name|length >0 %}
    <div class="heading">
        <h2>Sections</h2>
    </div>
    <div class="all-sections">
        {% for sect in section_name %}
        <div class="section-card">
            <img src="../../static/uploads/{{ sect.image }}" class="card-img-top" alt="{{sect.image}}">
            <div class="section-overlay">
                <div class="section-details">
                    <h2>{{ sect.name }}</h2>
                    <!-- <p>{{ sect.description }}</p> -->
                    <a href="/section-books/{{ sect.section_id }}" class="btn btn-warning">View Books</a>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
    {% endif %}

</body>

</html>