{% include "includes.html" %}
<link rel="stylesheet" href="/static/nav.css">
<div class="main-nav">
    Smart Library
</div>
<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
        <a class="navbar-brand" href="/user"><img src="/static/images/logo.png" alt="" class="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/my-books">MyBooks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/all-books">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/all-sections">Sections</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user-stats">Stats</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
            <form class="d-flex" role="search" action="/user-search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="srch_val"
                    autocomplete="off">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>